@import "~sanitize.css/sanitize.css";

body {
  font-family: Georgia,serif;
  font-weight: 400;
  font-size: 17px;
  margin: 2rem 1.2rem;
}

svg {
  display: inline-block;
  width: 30%;
  padding: 3rem;
}
